<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Include the Navbar -->
    {% include 'staff/staff_navbar.html' %}

    <div class="container">
        <header class="dashboard-header">
            <h1>Staff Dashboard</h1>
        </header>

        <main>
            
            {% block content %}
            <!-- Main content for each page will be injected here -->
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 NaLib | All Rights Reserved</p>
        </footer>
    </div>

</body>
</html>
