{% extends "staff/base.html" %}

{% block content %}
    <div class="genre-management">
        <h2>Manage Genres</h2>
        <a href="{{ url_for('staff.add_genre') }}" class="btn-add">
            <i class="fas fa-plus-circle"></i> Add New Genre
        </a>
        <table class="genre-table">
            <thead>
                <tr>
                    <th>Genre Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for genre in genres %}
                    <tr>
                        <td>{{ genre.genre_name }}</td>
                        <td>
                            <a href="{{ url_for('staff.edit_genre', genre_id=genre.genre_id) }}" class="btn-edit">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                           
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No genres found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
